.back-to-top-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color:dimgray;
  border-top: 1px solid #ddd;
}

.back-to-top-button {
   background-color: transparent;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-to-top-button:hover {
  border: 1px solid;
}
